USE [master]
GO
/****** Object:  Database [StokTakibi]    Script Date: 15.11.2016 18:14:19 ******/
CREATE DATABASE [StokTakibi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StokTakibi', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.BARAN\MSSQL\DATA\StokTakibi.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'StokTakibi_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.BARAN\MSSQL\DATA\StokTakibi_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StokTakibi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StokTakibi]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 15.11.2016 18:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[K_ID] [int] IDENTITY(1,1) NOT NULL,
	[K_Adi] [nvarchar](50) NULL,
	[K_Yetki] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[K_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[K_Adi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Urunler]    Script Date: 15.11.2016 18:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[U_ID] [int] IDENTITY(1,1) NOT NULL,
	[U_Adi] [nvarchar](100) NULL,
	[U_Barkod] [numeric](8, 0) NULL,
	[U_Fiyat] [money] NULL,
	[U_StokAdet] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[U_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[U_Barkod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Yetkiler]    Script Date: 15.11.2016 18:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yetkiler](
	[Y_ID] [int] IDENTITY(1,1) NOT NULL,
	[Y_Adi] [nvarchar](50) NULL,
	[Silme] [int] NULL,
	[Guncelleme] [int] NULL,
	[K_Ekleme] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Y_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Y_Adi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
